.app-code--active {
  display: flex;
  justify-content: space-between;

  .app-code__source,
  .app-code__target {
    box-sizing: border-box;
    width: 49%;
    overflow: auto;
    margin: 0;
  }

  .app-code__target {
    padding: 1rem;
    border-radius: 0;
    border: none;
    border-left: 1px solid var(--border-color);
    background-color: transparent;
    line-height: 1em;
  }
}
