body {
  margin: 0;
}

.app-grid--fixed {
  height: 100%;

  body {
    height: 100%;
    overflow: auto;
  }
}

.app-grid__wrap {
  --grid-gap: 1.25rem;
  --grid-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.4);
  height: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  align-items: stretch;
}

.app-grid__header {
  z-index: 3;
  grid-area: header;
  padding: 0 var(--grid-gap);
  box-shadow: var(--grid-shadow);
}

.app-grid__menu {
  z-index: 2;
  grid-area: menu;
  padding: var(--grid-gap);
  overflow: auto;
}

.app-grid__content {
  z-index: 1;
  grid-area: content;
  padding: var(--grid-gap);
  overflow: auto;
}

.app-grid__footer {
  grid-area: footer;
  padding: 0 var(--grid-gap);
  border-top: 1px solid var(--bg-color-light);
}

.app-grid__wrap--menu-hidden {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";

  .app-grid__menu {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .app-grid__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "menu"
      "content"
      "footer";
  }

  .app-grid__menu {
    box-shadow: var(--grid-shadow);
  }
}
