.app-menu {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.app-menu__item {
  &:hover {
    background-color: var(--link-bg-color-hover);
    transition: all var(--transition-duration) ease;
  }

  a, .app-link {
    padding: 0.5rem 0.75rem;
    display: block;
    text-decoration: none;
    transition: all var(--transition-duration) ease;
  }
}

// Note: the class `.app-link__active` comes from the directive `[app-link]`.
// For this reason, it's not named `.app-menu__item--active` as you would have expected...
.app-menu .app-link__active {
  background-color: var(--link-bg-color-active);
  color: var(--text-color);
}
