.app-playground {
  position: relative;
  margin: 1rem 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid var(--border-color);
  border-left-color: var(--link-color);
  background-color: var(--bg-color);
  transition: opacity var(--transition-duration) ease;

  &:hover {
    .app-playground__action,
    &.app-playground--demo::after {
      opacity: 0.5;
    }
  }

  &.app-playground--disabled {
    opacity: 0.5;

    .app-playground__action {
      opacity: 1;
    }
  }

  .app-playground__action:hover {
    opacity: 1;

    &.app-playground__action--disabled {
      opacity: 0.5;
    }
  }
}

.app-playground__action,
.app-playground--demo::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  border: 1px solid var(--border-color);
  border-width: 0 0 1px 1px;
  background-color: var(--link-bg-color-active);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.825rem;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: all var(--transition-duration) ease;
}

.app-playground__action {
  cursor: pointer;

  &:hover {
    background-color: var(--link-color);
    color: var(--bg-color);
  }

  &.app-playground__action--disabled {
    background-color: var(--link-bg-color-active);
    color: var(--text-color);
  }
}

.app-playground__icon {
  vertical-align: middle;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.app-playground__code {
  display: block;
  overflow: auto;
  max-height: 50vh;
  padding: 0.5rem 1rem;
}

.app-playground--demo {
  min-height: calc(var(--line-height) - 2 * 0.5rem);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.05);

  &::after {
    content: "demo";
    cursor: default;
  }
}

.app-playground--disabled {
  font-style: italic;
}

.app-playground__action--disabled {
  cursor: default;
}
