.app-grid {
  --grid-gap: 2em;
  height: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  align-items: stretch;
}

.app-grid__header {
  grid-area: header;
  padding: 1rem var(--grid-gap);
  background-color: #eee;
}

.app-grid__menu {
  grid-area: menu;
  margin-left: var(--grid-gap);
  overflow: auto;
  padding: 1rem;
  background-color: #eee;
}

.app-grid__content {
  grid-area: content;
  margin-right: var(--grid-gap);
  overflow: auto;
}

.app-grid__footer {
  grid-area: footer;
  padding: 1rem var(--grid-gap);
  background-color: #eee;
}

.app-content {
  max-width: initial;

  .app-content__wrap {
    display: flex;
    justify-content: space-between;
  }

  .app-content__source,
  .app-content__code {
    box-sizing: border-box;
    width: 49%;
    overflow: auto;
    margin: 0;
  }

  //.app-content__source {}

  .app-content__code {
    padding: 1rem;
    border-radius: 0;
    border: none;
    line-height: 1em;
  }
}

.app-tool {
  z-index: 11;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #222;
  background-color: #333;
  font-family: monospace;
  font-size: 11px;
  line-height: 22px;

  a {
    display: block;
    color: lightblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.app-tool__link_active {
      color: #fff;
      text-decoration: none;
    }
  }
}
