:root {
  --line-height: 1.5em;
  --border-color: #ddd;
  --link-color: dodgerblue;
}

html {
  font-family: 'Open Sans', sans-serif;
  line-height: var(--line-height);
}

body {
  box-sizing: content-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

hr {
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: var(--line-height);
}

hgroup {
  margin-top: 2rem;
  margin-bottom: 1rem;

  > * {
    margin: 0;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

p, pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  overflow: auto;
}

pre, code {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

pre code {
  padding: initial;
  border-radius: initial;
  border: initial;
  background-color: initial;
}

input, button {
  font-family: inherit;
}
