:root {
  --line-height: 1.5em;
}

html {
  font-family: 'Open Sans', sans-serif;
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height);
}

input, button {
  font-family: inherit;
}
