html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: auto;
}

.app-grid {
  --grid-gap: 1.25em;
  height: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  align-items: stretch;
}

.app-grid__header {
  grid-area: header;
  padding: 0 var(--grid-gap);
}

.app-grid__menu {
  grid-area: menu;
  margin-left: var(--grid-gap);
  overflow: auto;
}

.app-grid__content {
  grid-area: content;
  margin-right: var(--grid-gap);
  overflow: auto;
}

.app-grid__footer {
  grid-area: footer;
  padding: 0 var(--grid-gap);
  border-top: 1px solid var(--bg-color-light);
}

.app-grid_hide-menu {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";

  .app-grid__menu {
    display: none;
  }

  .app-grid__content {
    margin-left: var(--grid-gap);
  }
}

@media screen and (max-width: 640px) {
  .app-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-areas:
      "header"
      "menu"
      "content"
      "footer";
  }

  .app-grid__menu {
    margin: 0;
    border-bottom: 1px solid var(--border-color);
  }

  .app-grid__content {
    margin: 0 !important;
    padding: var(--grid-gap);
  }
}
