.app-menu {

}

.app-menu__nav {
  ul {
    margin: 0 0 1.5rem 0;
    padding: 0;
    list-style: none;
  }

  li {
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      transition: all 100ms ease;
    }

    a, .app-link {
      padding: 0.5rem 0.75rem;
      display: block;
      text-decoration: none;
      transition: all 100ms ease;
    }
  }

  // TODO: refactorize...
  .app-link__active {
    background-color: var(--link-color);
    color: #fff;
  }
}
