.app-tool {
  display: flex;
  justify-content: center;
  line-height: 3rem;

  a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all var(--transition-duration) ease;

    &.app-tool__link_active {
      color: var(--link-color);
    }

    .fas {
      vertical-align: middle;
    }
  }
}
